In [2]:
import geocoder
import numpy as np
import pandas as pd
import datetime as dt

# Explore the Transactions

In [10]:
# Reading the file and skiping the first row which is just a note
transactions = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx', sheet_name = 'Transactions', skiprows=1)
transactions.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0

In [11]:
# Check the info of the table
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.0+ MB

- Columns with missing values:online order, brand, product_line, product_class, product_size, standard_cost, product_first_sold_date columns　　　

- Wrong data type: product_first_sold_date columns is in float, but it should be datatime

In [12]:
# convert the datatype of the product_first_sold_date to datatime
# https://stackoverflow.com/questions/38454403/convert-excel-style-date-with-pandas
transactions['product_first_sold_date'] = pd.TimedeltaIndex(transactions['product_first_sold_date'], unit='d')+ dt.datetime(1900,1,1)
transactions['product_first_sold_date'].head()

0   2012-12-04
1   2014-03-05
2   1999-07-22
3   1998-12-18
4   2015-08-12
Name: product_first_sold_date, dtype: datetime64[ns]

In [13]:
transactions['product_first_sold_date'].tail()

19995   2003-07-23
19996   1997-05-12
19997   2010-08-22
19998   2004-08-19
19999   1999-06-25
Name: product_first_sold_date, dtype: datetime64[ns]

In [14]:
transactions['product_first_sold_date'].describe()

count                   19803
unique                    100
top       1992-10-04 00:00:00
freq                      234
first     1991-01-23 00:00:00
last      2016-12-08 00:00:00
Name: product_first_sold_date, dtype: object

In [15]:
# check the distribution of the transaction date and product_first_sold_date
# https://stackoverflow.com/questions/38792122/how-to-group-and-count-rows-by-month-and-year-using-pandas/38792452
transactions['transaction_date'].groupby([transactions['transaction_date'].dt.year]).agg('count')

transaction_date
2017    20000
Name: transaction_date, dtype: int64

In [16]:
transactions['transaction_date'].groupby([transactions['transaction_date'].dt.month]).agg('count')

transaction_date
1     1682
2     1623
3     1656
4     1655
5     1685
6     1581
7     1717
8     1749
9     1572
10    1771
11    1665
12    1644
Name: transaction_date, dtype: int64

In [17]:
transactions['product_first_sold_date'].groupby([transactions['product_first_sold_date'].dt.year]).agg('count')

product_first_sold_date
1991.0    1170
1992.0     445
1993.0    1360
1994.0     568
1995.0     415
1996.0     380
1997.0    1001
1998.0     403
1999.0     806
2000.0     370
2001.0     196
2002.0     568
2003.0    1545
2004.0    1224
2005.0     826
2006.0     770
2007.0     420
2008.0     213
2009.0     421
2010.0     816
2011.0    1342
2012.0    1044
2013.0     617
2014.0     547
2015.0    1146
2016.0    1190
Name: product_first_sold_date, dtype: int64

In [18]:
transactions.describe()

,transaction_id,product_id,customer_id,online_order,list_price,standard_cost
count,20000.000000,20000.00000,20000.000000,19640.000000,20000.000000,19803.000000
mean,10000.500000,45.36465,1738.246050,0.500458,1107.829449,556.046951
std,5773.647028,30.75359,1011.951046,0.500013,582.825242,405.955660
min,1.000000,0.00000,1.000000,0.000000,12.010000,7.210000
25%,5000.750000,18.00000,857.750000,0.000000,575.270000,215.140000
50%,10000.500000,44.00000,1736.000000,1.000000,1163.890000,507.580000
75%,15000.250000,72.00000,2613.000000,1.000000,1635.300000,795.100000
max,20000.000000,100.00000,5034.000000,1.000000,2091.470000,1759.850000

In [19]:
# check missing values
transactions.isnull().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [20]:
# Find the unique values of online_order, which data type is float
transactions.online_order.unique()

array([ 0.,  1., nan])

In [71]:
transactions.order_status.unique()

array(['Approved', 'Cancelled'], dtype=object)

In [21]:
# check the unique values in each columns with missing values
transactions.brand.unique()

array(['Solex', 'Trek Bicycles', 'OHM Cycles', 'Norco Bicycles',
       'Giant Bicycles', 'WeareA2B', nan], dtype=object)

In [22]:
transactions.product_line.unique()

array(['Standard', 'Road', 'Mountain', 'Touring', nan], dtype=object)

In [23]:
transactions.product_class.unique()

array(['medium', 'low', 'high', nan], dtype=object)

In [24]:
transactions.product_size.unique()

array(['medium', 'large', 'small', nan], dtype=object)

- Data types of brand, product_line, product_class, product_size are strings, we may drop those missing values if they are unnecessary for our analysis. However, the standard_cost and product_first_sold_date are precise number or time, the further processing of those missing values will depend on objective of the analysis;   
- All the values of columns mentioned above are accurate, consistent and valid

In [25]:
# Check the duplicates in the table
transactions[transactions.duplicated()].sum()

transaction_id             0.0
product_id                 0.0
customer_id                0.0
transaction_date           0.0
online_order               0.0
order_status               0.0
brand                      0.0
product_line               0.0
product_class              0.0
product_size               0.0
list_price                 0.0
standard_cost              0.0
product_first_sold_date    0.0
dtype: float64

In [72]:
# save the dataframe as csv file without index
transactions.to_csv('transactions.csv', index=False)

# Explore the NewCustomerList

In [29]:
# import the NewCustomerList and skip the first row which is note
new_customer_list = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx',sheet_name='NewCustomerList', skiprows=1)
new_customer_list.head()

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,...,state,country,property_valuation,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,...,QLD,Australia,6,0.56,0.7000,0.8750,0.743750,1,1,1.718750
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,...,NSW,Australia,11,0.75,0.7500,0.9375,0.796875,1,1,1.718750
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,...,VIC,Australia,5,0.65,0.6500,0.6500,0.650000,1,1,1.718750
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,...,QLD,Australia,1,0.83,1.0375,1.0375,1.037500,4,4,1.703125
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,...,NSW,Australia,9,0.96,0.9600,1.2000,1.200000,4,4,1.703125

In [30]:
# Drop Unnamed Columns which are not there in original table
cols = ['Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20']
new_customer_list = new_customer_list.drop(cols, axis=1)
new_customer_list.head()

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,14,45 Shopko Center,4500,QLD,Australia,6,1,1.718750
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,16,14 Mccormick Park,2113,NSW,Australia,11,1,1.718750
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,10,5 Colorado Crossing,3505,VIC,Australia,5,1,1.718750
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,5,207 Annamark Plaza,4814,QLD,Australia,1,4,1.703125
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,19,115 Montana Place,2093,NSW,Australia,9,4,1.703125

In [28]:
# Check the info of the table
new_customer_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            971 non-null    object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   int64
 4   DOB                                  983 non-null    datetime64[ns]
 5   job_title                            894 non-null    object
 6   job_industry_category                835 non-null    object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   object
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   int64
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   int64
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   int64
 16  Rank                                 1000 non-null   int64
 17  Value                                1000 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(5), object(11)
memory usage: 140.8+ KB

**For this stage:**  

- columns with missing values: last_name, DOB, job_title, job_industry_category;   
- Wrong data type: postcode should convert from int to string.

In [31]:
# convert the int into string in postcode
new_customer_list['postcode'] = new_customer_list['postcode'].astype(str)
print(new_customer_list['postcode'].dtypes)

object

In [30]:
# Check for null values
new_customer_list.isnull().sum()

first_name                               0
last_name                               29
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     17
job_title                              106
job_industry_category                  165
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                   0
address                                  0
postcode                                 0
state                                    0
country                                  0
property_valuation                       0
Rank                                     0
Value                                    0
dtype: int64

We will take the further step with the missing values based on the goal of final analysis.

In [31]:
# Check the duplicates in the table
new_customer_list[new_customer_list.duplicated()].sum()

first_name                             0.0
last_name                              0.0
gender                                 0.0
past_3_years_bike_related_purchases    0.0
DOB                                    0.0
job_title                              0.0
job_industry_category                  0.0
wealth_segment                         0.0
deceased_indicator                     0.0
owns_car                               0.0
tenure                                 0.0
address                                0.0
postcode                               0.0
state                                  0.0
country                                0.0
property_valuation                     0.0
Rank                                   0.0
Value                                  0.0
dtype: float64

There is no duplicates in the new_customer_list.

In [32]:
# check the descriptive statistics of new_customer_list
new_customer_list.describe()

,past_3_years_bike_related_purchases,tenure,property_valuation,Rank,Value
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,49.836000,11.388000,7.397000,498.819000,0.881714
std,27.796686,5.037145,2.758804,288.810997,0.293525
min,0.000000,0.000000,1.000000,1.000000,0.340000
25%,26.750000,7.000000,6.000000,250.000000,0.649531
50%,51.000000,11.000000,8.000000,500.000000,0.860000
75%,72.000000,15.000000,9.000000,750.250000,1.075000
max,99.000000,22.000000,12.000000,1000.000000,1.718750

In [33]:
# check the validity and consistence of values in each columns
new_customer_list['DOB'].describe()

count                     983
unique                    958
top       1961-07-31 00:00:00
freq                        2
first     1938-06-08 00:00:00
last      2002-02-27 00:00:00
Name: DOB, dtype: object

In [34]:
# check the distribution of the DOB
new_customer_list['DOB'].groupby([new_customer_list['DOB'].dt.year]).agg('count')

DOB
1938.0    11
1939.0    13
1940.0    13
1941.0     9
1942.0     8
          ..
1998.0    14
1999.0    19
2000.0    11
2001.0     9
2002.0     3
Name: DOB, Length: 65, dtype: int64

In [35]:
new_customer_list['gender'].value_counts()

Female    513
Male      470
U          17
Name: gender, dtype: int64

In [36]:
new_customer_list['job_title'].unique()

array(['General Manager', 'Structural Engineer', 'Senior Cost Accountant',
       'Account Representative III', 'Financial Analyst',
       'Assistant Media Planner', 'Compensation Analyst',
       'Human Resources Assistant II', 'Speech Pathologist',
       'Accounting Assistant IV', 'Programmer Analyst I',
       'Environmental Specialist', 'Human Resources Manager',
       'VP Marketing', 'Clinical Specialist', nan, 'Associate Professor',
       'Actuary', 'Internal Auditor', 'Programmer I', 'Quality Engineer',
       'Quality Control Specialist', 'Account Executive', 'Engineer II',
       'Nurse', 'Librarian', 'Paralegal', 'Assistant Manager',
       'Senior Quality Engineer', 'Recruiting Manager', 'Design Engineer',
       'Business Systems Development Analyst', 'VP Quality Control',
       'Cost Accountant', 'Product Engineer', 'Social Worker',
       'Payment Adjustment Coordinator', 'Marketing Assistant',
       'Recruiter', 'VP Product Management', 'Media Manager III',
       'Developer I', 'Senior Financial Analyst', 'Electrical Engineer',
       'Accountant IV', 'Executive Secretary', 'Account Representative I',
       'Dental Hygienist', 'GIS Technical Architect',
       'Assistant Professor', 'Mechanical Systems Engineer',
       'Budget/Accounting Analyst IV', 'Research Nurse',
       'Computer Systems Analyst IV', 'Analyst Programmer',
       'Desktop Support Technician', 'Editor', 'Biostatistician IV',
       'Database Administrator III', 'Engineer III',
       'Physical Therapy Assistant', 'Director of Sales', 'Teacher',
       'Human Resources Assistant IV', 'Nurse Practicioner',
       'Structural Analysis Engineer', 'Marketing Manager',
       'Staff Accountant IV', 'VP Sales', 'Accountant III',
       'Sales Representative', 'Food Chemist', 'Staff Scientist',
       'Geologist IV', 'Information Systems Manager', 'Junior Executive',
       'Automation Specialist II', 'Software Consultant',
       'Civil Engineer', 'Geological Engineer', 'Graphic Designer',
       'Staff Accountant II', 'Community Outreach Specialist',
       'Programmer Analyst II', 'Pharmacist', 'Senior Editor',
       'Sales Associate', 'Developer II', 'Staff Accountant I',
       'Environmental Tech', 'Account Coordinator', 'Health Coach II',
       'Programmer Analyst III', 'Geologist III', 'Senior Developer',
       'Account Representative II', 'Help Desk Technician',
       'Research Assistant IV', 'Research Associate',
       'Computer Systems Analyst I', 'Account Representative IV',
       'Safety Technician I', 'Analog Circuit Design manager',
       'Senior Sales Associate', 'Research Assistant II',
       'Chief Design Engineer', 'Legal Assistant',
       'Occupational Therapist', 'Statistician I', 'Technical Writer',
       'Health Coach IV', 'Media Manager II', 'Professor',
       'Safety Technician II', 'Software Test Engineer IV',
       'Nuclear Power Engineer', 'Software Engineer II', 'Engineer IV',
       'Database Administrator II', 'Chemical Engineer',
       'Office Assistant II', 'Database Administrator I',
       'Research Assistant I', 'Financial Advisor',
       'Systems Administrator I', 'Systems Administrator IV', 'Operator',
       'Office Assistant I', 'Software Engineer I', 'Programmer III',
       'Media Manager I', 'Data Coordiator', 'Web Developer IV',
       'Registered Nurse', 'Media Manager IV', 'Programmer II',
       'Computer Systems Analyst II', 'Web Designer I',
       'Human Resources Assistant I', 'Help Desk Operator',
       'Systems Administrator III', 'Software Engineer III',
       'Developer IV', 'Tax Accountant', 'Automation Specialist IV',
       'VP Accounting', 'Accountant II', 'Administrative Assistant II',
       'Programmer IV', 'Web Designer IV', 'Administrative Officer',
       'Office Assistant IV', 'Accounting Assistant III',
       'Accounting Assistant I', 'Research Assistant III',
       'Web Developer II', 'Statistician III', 'Programmer Analyst IV',
       'Accountant I', 'Project Manager', 'Budget/Accounting Analyst II',
       'Automation Specialist III', 'Administrative Assistant I',
       'Engineer I', 'Health Coach III', 'Statistician II',
       'Developer III', 'Accounting Assistant II',
       'Database Administrator IV', 'Budget/Accounting Analyst III',
       'Software Test Engineer I', 'Health Coach I',
       'Safety Technician IV', 'Computer Systems Analyst III',
       'Budget/Accounting Analyst I', 'Staff Accountant III',
       'Human Resources Assistant III', 'Statistician IV',
       'Automation Specialist I', 'Systems Administrator II',
       'Software Test Engineer II', 'Software Test Engineer III',
       'Geologist I', 'Web Designer II', 'Web Developer I'], dtype=object)

In [32]:
new_customer_list['job_industry_category'].value_counts()

Financial Services    203
Manufacturing         199
Health                152
Retail                 78
Property               64
IT                     51
Entertainment          37
Argiculture            26
Telecommunications     25
Name: job_industry_category, dtype: int64

In [33]:
new_customer_list['wealth_segment'].value_counts()

Mass Customer        508
High Net Worth       251
Affluent Customer    241
Name: wealth_segment, dtype: int64

In [39]:
new_customer_list['deceased_indicator'].unique()

array(['N'], dtype=object)

In [40]:
new_customer_list['owns_car'].unique()

array(['Yes', 'No'], dtype=object)

In [41]:
new_customer_list['address'].unique()

array(['45 Shopko Center', '14 Mccormick Park', '5 Colorado Crossing',
       '207 Annamark Plaza', '115 Montana Place', '89105 Pearson Terrace',
       '7 Nevada Crossing', '85 Carioca Point', '717 West Drive',
       '80 Scofield Junction', '3682 Crowley Point',
       '3 Golden Leaf Point', '0484 North Avenue', '0591 Anzinger Circle',
       '39 Kedzie Pass', '64 Granby Parkway', '610 Swallow Street',
       '61 4th Street', '1550 Russell Way', '193 North Point',
       '321 Raven Plaza', '656 Fuller Street', '1562 Merchant Street',
       '663 8th Parkway', '67 Shelley Street', '75 Cordelia Trail',
       '51 Hooker Court', '1859 Forest Circle', '44557 Rutledge Court',
       '11184 East Drive', '555 Hermina Avenue', '8 Novick Trail',
       '74 Welch Pass', '3 Pleasure Drive', '8 Dennis Point',
       '41042 Lotheville Crossing', '2330 Butternut Trail',
       '240 Acker Avenue', '04 Dexter Way', '011 Northland Trail',
       '8 Grayhawk Circle', '44 Darwin Lane', '2548 Arrowood Pass',
       '938 Ilene Road', '6 Melby Center', '08708 Moulton Park',
       '306 Clemons Junction', '18 Grim Road', '169 Bashford Drive',
       '3 Vermont Lane', '998 Gale Park', '64 Mcguire Trail',
       '74127 Blaine Point', '31756 Meadow Valley Lane',
       '293 Mayfield Street', '261 Grayhawk Way', '2 Schlimgen Terrace',
       '76733 Sunbrook Terrace', '683 Florence Way',
       '7232 Fulton Parkway', '06936 Bobwhite Circle', '283 Acker Drive',
       '9 Mosinee Parkway', '45 Becker Place', '27 Karstens Crossing',
       '9630 Cottonwood Avenue', '989 Graedel Terrace',
       '76 Bartelt Center', '29778 Mendota Drive', '69 Algoma Center',
       '8288 Lyons Way', '4185 Florence Trail', '9608 Heffernan Drive',
       '9 Union Center', '800 Emmet Park', '12351 Spenser Pass',
       '4 Valley Edge Plaza', '1601 Rutledge Lane', '0 Mockingbird Plaza',
       '1665 Kenwood Center', '5 4th Center', '92214 Spenser Road',
       '5186 Main Trail', '564 Forest Dale Avenue', '83 Old Gate Point',
       '387 Dixon Alley', '411 Twin Pines Way', '12 Arapahoe Park',
       '4915 Debra Center', '76 Sunnyside Avenue', '1 Talisman Avenue',
       '91164 Washington Terrace', '74 Carpenter Street',
       '6776 Anderson Center', '1 Orin Hill', '88 Annamark Avenue',
       '37439 High Crossing Circle', '5 Nevada Point',
       '67 Grayhawk Circle', '0 Meadow Ridge Street', '5 Quincy Street',
       '13025 Johnson Plaza', '966 Sunnyside Center', '802 Mallory Park',
       '93 Judy Drive', '94 Manitowish Court', '5013 Erie Crossing',
       '540 Sachs Road', '422 Forster Circle', '4275 Bluestem Pass',
       '6 Anderson Junction', '276 Westend Road', '69 Garrison Point',
       '65 Milwaukee Hill', '4252 Dovetail Pass', '56 Riverside Street',
       '7 Cascade Park', '29307 Russell Avenue', '3 Mcguire Crossing',
       '6 Golf View Alley', '83716 Russell Lane', '265 Stephen Trail',
       '2 Charing Cross Trail', '8350 Moulton Terrace',
       '578 Waywood Circle', '9722 Northport Way', '7026 Katie Lane',
       '8 Eggendart Pass', '1 Bluejay Place', '28970 Monument Lane',
       '235 Mendota Court', '49309 Redwing Lane', '367 Bay Point',
       '932 Glendale Avenue', '492 Waywood Lane', '12683 Mifflin Point',
       '6160 Weeping Birch Hill', '7 Oakridge Lane', '0 Dexter Parkway',
       '75813 Lawn Lane', '74613 Northport Park', '68 Karstens Pass',
       '87254 Hermina Pass', '801 Atwood Alley', '2 Morrow Alley',
       '92934 Mallory Trail', '90820 Thackeray Street',
       '48 Ludington Plaza', '49185 Derek Circle',
       '0721 Meadow Ridge Pass', '115 Westridge Road', '7 Myrtle Lane',
       '7795 Memorial Drive', '24695 Boyd Road', '95306 John Wall Avenue',
       '6704 Pine View Lane', '98158 Alpine Point', '33652 Lyons Alley',
       '8 Debs Road', '101 Starling Pass', '35151 Bunker Hill Crossing',
       '2093 Amoth Pass', '57343 Eagan Avenue', '83 Armistice Terrace',
       '5388 Burrows Alley', '5612 Toban Point', '65 Ridge Oak Court',
       '74 Russell Terrace', '255 Loeprich Lane', '67 Northport Avenue',
       '823 Wayridge Trail', '5 Golf Terrace', '40809 Truax Way',
       '1398 Burning Wood Way', '3920 Swallow Junction', '4 Warner Park',
       '534 Lien Lane', '48 Shoshone Park', '170 Briar Crest Place',
       '0193 Northland Street', '5219 Pearson Drive',
       '6156 Summit Center', '803 Badeau Point', '735 Westridge Road',
       '1190 Hanson Street', '370 Division Junction', '90 Northport Hill',
       '77785 Veith Lane', '232 Knutson Park', '25805 Eagan Place',
       '743 Debra Court', '6966 Delladonna Street',
       '98221 Pennsylvania Place', '307 Knutson Center',
       '593 Alpine Drive', '45788 Stang Plaza', '96515 Di Loreto Pass',
       '8625 Dakota Plaza', '02 Hoffman Road', '496 Logan Center',
       '6065 Talisman Crossing', '72 Eliot Place', '67 Bluejay Plaza',
       '518 Paget Hill', '87107 Shelley Crossing', '3 Mallory Circle',
       '1582 Bashford Drive', '3 Homewood Park', '06 Old Gate Park',
       '49 Surrey Point', '59254 Northland Alley', '4 North Drive',
       '89 Parkside Street', '7 Hazelcrest Place', '013 David Junction',
       '840 Graceland Street', '6 Lotheville Trail', '890 Truax Lane',
       '72922 Cambridge Terrace', '60461 Esch Avenue', '6 Novick Alley',
       '76 Donald Trail', '1607 Westridge Drive', '3630 Dawn Crossing',
       '29007 Dapin Street', '68 Fairfield Street', '6 Iowa Center',
       '5 Briar Crest Road', '945 Bobwhite Court', '2 Glendale Center',
       '21824 Northridge Alley', '68 Anthes Park', '3 Anthes Court',
       '036 Redwing Street', '92 Petterle Place', '72008 7th Avenue',
       '87 Sheridan Junction', '811 Melrose Park', '2 Logan Avenue',
       '538 Gina Way', '52761 Portage Crossing', '8 Fieldstone Street',
       '8957 Anhalt Alley', '5 High Crossing Junction',
       '75760 Toban Junction', '178 Waxwing Trail', '8648 Green Alley',
       '08912 Carberry Place', '720 Menomonie Crossing',
       '0686 Hallows Trail', '6668 Blue Bill Park Plaza',
       '06 Dwight Park', '5202 Crowley Place', '14709 Portage Avenue',
       '895 Glendale Park', '0474 Bowman Hill', '652 Fuller Terrace',
       '5356 Sugar Plaza', '7 Schiller Point', '9193 Prairieview Drive',
       '13272 Basil Avenue', '29 Aberg Crossing', '4 Monterey Road',
       '416 Lighthouse Bay Lane', '05475 Elgar Place',
       '343 Lakewood Center', '47 Kim Terrace', '590 Hagan Parkway',
       '94694 Eagle Crest Terrace', '261 Orin Center',
       '667 Waxwing Plaza', '83509 Delaware Street', '88 Mifflin Pass',
       '10 Dexter Park', '3 Sundown Hill', '655 Glendale Trail',
       '39192 Glendale Alley', '7307 Lake View Crossing',
       '1199 Express Plaza', '1 Namekagon Point', '602 Meadow Vale Lane',
       '6784 Spohn Alley', '67 Shelley Crossing', '07 Dayton Court',
       '351 Sunfield Lane', '8427 Moulton Place', '984 Del Sol Junction',
       '3 Pepper Wood Hill', '8737 Scoville Center', '385 Montana Place',
       '3 Surrey Court', '2 Magdeline Street', '93235 Hoard Trail',
       '356 Carberry Avenue', '71 Ludington Center',
       '2116 Continental Terrace', '2 7th Way', '7 Elgar Road',
       '00003 Hoffman Pass', '71 Stone Corner Avenue', '0 Esker Avenue',
       '61825 Debs Terrace', '11 Oak Terrace', '7 Michigan Hill',
       '8 Randy Park', '0 Mayfield Parkway', '57903 Hanson Parkway',
       '763 Ridgeway Place', '99 Westend Court', '5 Caliangt Center',
       '4472 Washington Junction', '31675 Corry Way',
       '4882 Dakota Center', '4 Warner Circle',
       '4 Manufacturers Crossing', '016 Westport Park', '19 Debs Parkway',
       '665 Sachs Way', '4110 Mifflin Center', '62 Spaight Center',
       '3 Express Lane', '7353 Mallard Junction', '066 Warner Trail',
       '52752 Barby Hill', '57025 New Castle Street', '0 Stoughton Park',
       '49 Jana Point', '7 Fordem Point', '797 Westend Street',
       '5316 Farwell Hill', '770 Crest Line Parkway',
       '50 American Street', '4793 Mcbride Pass', '01124 Dottie Lane',
       '42681 Carey Alley', '2941 Talisman Alley', '990 Hoffman Avenue',
       '5 Summer Ridge Court', '102 Charing Cross Terrace',
       '5 Trailsway Avenue', '23694 Leroy Place', '53 Memorial Street',
       '691 Valley Edge Alley', '60073 Pankratz Pass',
       '8 Schlimgen Drive', '0237 Mallard Place',
       '69710 Northfield Center', '1 Kinsman Crossing',
       '40553 Rigney Avenue', '48578 Farmco Park',
       '91634 Badeau Crossing', '391 Old Shore Lane',
       '28 Golf View Terrace', '0197 Sachs Avenue', '48297 Stuart Circle',
       '67 Heath Circle', '3 Sheridan Lane', '04 Oakridge Plaza',
       '78 Clarendon Drive', '335 Cambridge Hill',
       '5675 Burning Wood Trail', '4597 Marcy Point', '9 Walton Way',
       '27429 Dottie Plaza', '42 Donald Hill', '3 Hoepker Parkway',
       '19561 Express Street', '41 Kropf Road', '0516 Fremont Point',
       '7872 South Junction', '81 Donald Parkway', '105 Carpenter Court',
       '58231 Tomscot Plaza', '3 Loeprich Point', '5773 Acker Way',
       '540 Katie Street', '9495 Jenna Way', '66 Ruskin Parkway',
       '9736 Mitchell Pass', '9 Springview Terrace',
       '1914 Oakridge Place', '179 Anzinger Center', '62 Melrose Court',
       '84650 Novick Point', '5 Hoard Parkway', '376 Talmadge Street',
       '5979 Green Ridge Way', '2972 Holy Cross Crossing',
       '89 Riverside Court', '540 Forest Run Plaza',
       '817 Bunker Hill Place', '4669 Troy Place', '02 Roth Drive',
       '7 Northridge Court', '5735 Starling Plaza', '97 Transport Plaza',
       '67183 Anniversary Parkway', '2 Emmet Parkway',
       '61926 Tomscot Hill', '07 Susan Lane', '43094 Kedzie Pass',
       '678 Lyons Trail', '1832 Burning Wood Place', '5642 Debs Terrace',
       '73 Riverside Trail', '05 Everett Trail', '082 Welch Lane',
       '72 Mccormick Circle', '15669 Arizona Trail',
       '79 Armistice Parkway', '330 Melby Terrace', '2637 Monument Trail',
       '37919 Old Gate Park', '00 Judy Terrace', '79 Armistice Junction',
       '7 Clemons Circle', '6455 Mayfield Street',
       '7873 Meadow Vale Plaza', '45 Banding Hill', '53 Moulton Avenue',
       '7 Sauthoff Park', '9082 Waywood Avenue', '30049 Brown Road',
       '7 Huxley Trail', '3 Service Center', '0627 Golf Center',
       '24960 Shopko Crossing', '43 Stoughton Drive',
       '247 Blue Bill Park Parkway', '2 David Pass', '3867 Barby Hill',
       '52 Bobwhite Court', '32249 Sycamore Way', '3 Roth Junction',
       '72423 Surrey Street', '76 Green Ridge Drive',
       '9 Glacier Hill Circle', '91281 Transport Center', '11 Paget Road',
       '3686 Waubesa Way', '6 Killdeer Way', '737 Service Lane',
       '253 Katie Junction', '481 Moulton Place', '3864 Sheridan Alley',
       '61416 Karstens Place', '0 Union Parkway', '4 Lukken Lane',
       '1507 Schlimgen Trail', '4 Meadow Ridge Place', '31 Melody Circle',
       '96 Rutledge Drive', '2905 Towne Place', '638 Caliangt Avenue',
       '9645 Moose Terrace', '7 Messerschmidt Crossing',
       '005 Loeprich Way', '3653 Steensland Road', '56 Comanche Terrace',
       '66 Merry Court', '92 Ludington Street', '37 Rigney Park',
       '0796 Barnett Plaza', '415 Rockefeller Trail',
       '846 Loftsgordon Crossing', '9 Ridgeview Avenue',
       '6218 Delladonna Parkway', '095 Glacier Hill Circle',
       '057 Victoria Crossing', '0 Memorial Road', '409 Starling Lane',
       '36963 Pierstorff Terrace', '8069 Sunbrook Way', '9 Hovde Way',
       '94 Barby Lane', '0492 Kings Street', '1 Fair Oaks Alley',
       '780 Norway Maple Hill', '625 Mandrake Junction', '1037 Roth Park',
       '315 Center Park', '1 Graceland Plaza', '98555 Victoria Hill',
       '31121 Pierstorff Center', '59 Garrison Terrace',
       '2763 Buhler Circle', '309 Maple Wood Pass', '777 Fairfield Court',
       '99 Quincy Parkway', '902 Westend Lane', '9 Rieder Junction',
       '734 Veith Way', '0800 Dahle Alley', '5 Macpherson Drive',
       '07 Boyd Drive', '427 Oak Avenue', '390 Express Plaza',
       '703 Ludington Plaza', '7 Dayton Circle', '79 Manufacturers Plaza',
       '600 Artisan Drive', '0 Veith Way', '2336 Continental Point',
       '535 Corben Point', '1690 Forster Place', '54 6th Trail',
       '16 Pepper Wood Junction', '4 Arapahoe Terrace',
       '540 Farragut Avenue', '938 Bartillon Hill', '612 Annamark Center',
       '18 Sage Plaza', '4 Randy Street', '05 Corry Center',
       '1 South Street', '4810 Kim Park', '80388 Ryan Place',
       '1092 Kinsman Parkway', '1 Bluejay Court', '7 Maple Wood Plaza',
       '12 Eastlawn Terrace', '24929 Spaight Junction',
       '846 Daystar Lane', '36 Golf Course Circle', '0 Nelson Crossing',
       '93264 Almo Plaza', '2109 Shoshone Court', '355 Roxbury Lane',
       '2 Warrior Crossing', '08470 Kingsford Lane', '16898 Donald Plaza',
       '3128 Mallory Pass', '799 Luster Road', '53 Dryden Trail',
       '5512 Ronald Regan Hill', '72 Melrose Street', '3460 Dapin Street',
       '5 Hovde Lane', '4 Gale Center', '5263 Stone Corner Crossing',
       '0439 Mandrake Park', '069 Hoard Pass', '89 Green Ridge Point',
       '8 Cardinal Junction', '240 Main Hill', '67081 Burrows Center',
       '0 Kipling Way', '1 Raven Way', '261 Holy Cross Park',
       '891 Ohio Terrace', '1408 Hovde Circle', '50897 Northfield Road',
       '596 Boyd Park', '8 Fordem Place', '656 Kennedy Crossing',
       '2 Jackson Place', '39408 Manufacturers Road',
       '168 Schlimgen Center', '8 Kim Avenue', '920 Cambridge Way',
       '4 Schlimgen Trail', '31 Mccormick Court', '65 Milwaukee Lane',
       '76 Mendota Park', '26667 Rigney Place', '898 Muir Court',
       '88093 Pierstorff Plaza', '3319 Anthes Crossing',
       '16 Mosinee Place', '197 Northport Plaza', '10236 Mifflin Avenue',
       '5287 Clarendon Plaza', '38407 Sutteridge Circle',
       '423 Holy Cross Lane', '0307 Namekagon Crossing',
       '743 Stuart Terrace', '1478 Oak Valley Park',
       '8970 Anhalt Junction', '563 Waywood Park', '9313 Mayer Street',
       '2978 Mccormick Center', '527 Jay Trail', '6 Loftsgordon Pass',
       '9940 Manley Drive', '0736 West Crossing', '95796 Mcbride Drive',
       '20187 Loomis Court', '17393 Colorado Hill', '65 Rutledge Parkway',
       '02023 Loeprich Drive', '9107 Pine View Plaza',
       '822 Di Loreto Junction', '2712 Namekagon Crossing',
       '32 Hazelcrest Court', '9 Forster Circle', '07226 Anzinger Avenue',
       '936 Porter Lane', '6 Havey Pass', '882 Toban Lane',
       '844 Forster Place', '42590 Bellgrove Court',
       '6060 Veith Crossing', '25 Lakeland Point', '21667 Randy Crossing',
       '608 Dapin Court', '8738 Lukken Terrace', '8634 Wayridge Pass',
       '5 Homewood Road', '7 Dunning Avenue', '67 Beilfuss Plaza',
       '976 Roxbury Alley', '2 Main Lane', '6115 Forest Crossing',
       '432 Ronald Regan Court', '8600 Forster Lane',
       '6692 Independence Way', '770 Farmco Point', '602 Toban Center',
       '74 Shopko Pass', '804 Washington Point', '97 Merrick Center',
       '29 Tennyson Alley', '8194 Lien Street', '9503 New Castle Street',
       '0 Emmet Trail', '7 Spaight Drive', '45000 Randy Court',
       '65 David Pass', '7 Golden Leaf Avenue', '43 Dayton Drive',
       '5 Dryden Road', '14183 Iowa Center', '95 Del Mar Court',
       '98 Shoshone Road', '7199 Springview Parkway',
       '045 Magdeline Court', '5 Hoard Trail', '93 Scofield Pass',
       '2 Ridgeway Avenue', '29 Maple Trail', '7 Brentwood Circle',
       '28 Hazelcrest Drive', '01 Reindahl Circle', '5880 Hauk Street',
       '0 Larry Park', '69 Sunfield Terrace', '7513 Swallow Drive',
       '058 Morningstar Center', '0689 Melby Park', '3 Spohn Circle',
       '91 Calypso Trail', '43863 Victoria Lane',
       '54782 Lake View Parkway', '48971 Marquette Point',
       '99 Sherman Parkway', '381 Emmet Terrace', '7 Beilfuss Road',
       '37068 Montana Street', '7 Elgar Hill', '36506 Bartillon Point',
       '8 Scott Drive', '653 2nd Park', '22 Shelley Plaza',
       '504 Stuart Pass', '5 Red Cloud Place', '264 Valley Edge Pass',
       '5 Southridge Hill', '539 Graceland Pass', '22435 Barnett Court',
       '46057 Harbort Hill', '2 Shasta Place', '77608 Donald Center',
       '0433 La Follette Road', '8593 Prairie Rose Way',
       '179 Carey Terrace', '3 Ruskin Hill', '87 Crescent Oaks Alley',
       '08822 Duke Road', '5 Schurz Street', '344 Darwin Junction',
       '320 Acker Drive', '2874 Bay Hill', '3 Sunbrook Alley',
       '34 Jay Hill', '78 Bluestem Road', '0 Express Lane',
       '077 Hansons Point', '23737 Bartillon Street',
       '2 Anniversary Trail', '05 Ronald Regan Alley',
       '738 Spaight Drive', '8 Bunker Hill Court', '59846 2nd Pass',
       '3745 Thierer Trail', '11121 Jackson Crossing', '1 Elgar Alley',
       '32834 Caliangt Way', '27185 Fisk Drive', '2 Harper Junction',
       '7 Caliangt Street', '5331 Ilene Parkway', '1009 Roxbury Point',
       '660 Carey Avenue', '25 Oneill Alley', '2 Golden Leaf Parkway',
       '18 Dottie Park', '85 Badeau Pass', '784 Lotheville Court',
       '57568 Northview Junction', '283 Golf View Lane', '7 Johnson Hill',
       '22580 Doe Crossing Drive', '96081 Lakewood Hill',
       '6634 Old Gate Parkway', '72 Lukken Crossing',
       '6 Meadow Ridge Pass', '290 Menomonie Circle',
       '6 Sutherland Parkway', '1 Oriole Crossing', '51837 Canary Center',
       '43030 Carberry Way', '0 Bay Drive', '6 Anzinger Pass',
       '19453 Ramsey Point', '1861 Chive Court', '9 Westerfield Point',
       '3 Redwing Center', '189 Bayside Court', '174 Farwell Point',
       '356 Pennsylvania Point', '62 Dryden Junction',
       '25 Westerfield Road', '64 Armistice Point', '74 Everett Court',
       '38 Nobel Lane', '6936 Homewood Avenue', '8 Crowley Center',
       '44 Ronald Regan Parkway', '174 Lotheville Crossing',
       '8 Bluejay Road', '4286 Rowland Circle', '44 Thompson Center',
       '70360 Onsgard Plaza', '53870 Jay Pass', '417 Killdeer Alley',
       '28 Prentice Trail', '216 Bultman Park', '435 Mitchell Street',
       '15621 Twin Pines Crossing', '03 Bellgrove Avenue',
       '89100 Rusk Crossing', '82 Gina Junction', '077 Dennis Lane',
       '42280 Namekagon Crossing', '1 Fordem Way', '780 Bonner Pass',
       '77916 Moland Park', '00 Southridge Avenue',
       '7870 Stuart Crossing', '4 Vera Pass', '7234 Sycamore Pass',
       '98454 Dapin Park', '4 Talmadge Road', '47 Susan Park',
       '7 Ramsey Trail', '6026 Mallory Drive', '1 Eliot Plaza',
       '66 Hoffman Court', '7 Sycamore Terrace',
       '31281 Meadow Valley Way', '28 Parkside Park',
       '2782 Northridge Street', '3662 Beilfuss Lane',
       '56334 Vera Crossing', '79 Sheridan Point', '95960 Warner Parkway',
       '04769 Dahle Plaza', '5731 Bunker Hill Lane',
       '89244 Macpherson Trail', '922 Utah Avenue', '25044 Bay Avenue',
       '315 Hudson Road', '6112 Mariners Cove Park', '176 Fallview Plaza',
       '544 Pawling Road', '11 Brickson Park Alley', '77 Paget Park',
       '598 Memorial Place', '6227 Quincy Terrace',
       '31351 Sunbrook Place', '80 Schiller Center', '1217 Melody Alley',
       '46 Westerfield Place', '75024 Ronald Regan Hill', '15 Fisk Road',
       '96 Hermina Place', '99376 Namekagon Street', '276 Derek Circle',
       '56766 Mariners Cove Place', '13 Montana Place',
       '1969 Melody Lane', '02463 Portage Center', '383 Graceland Avenue',
       '005 Kensington Street', '1 Alpine Crossing', '2 Namekagon Trail',
       '6771 Pleasure Terrace', '2632 Del Mar Point', '7021 5th Alley',
       '602 Clove Center', '04153 Johnson Point', '9 Spohn Way',
       '6030 Becker Plaza', '4 Mallory Pass', '64037 Swallow Crossing',
       '4594 Jackson Hill', '4 Anzinger Street', '33 Pond Point',
       '1 Roth Plaza', '0593 Stoughton Center', '8042 Cherokee Court',
       '5864 Mcbride Trail', '180 Lakewood Park', '6 Union Center',
       '41153 Pond Park', '6233 Fulton Point', '05123 Bobwhite Plaza',
       '3413 Schmedeman Court', '4189 Laurel Center', '76 Melody Avenue',

In [34]:
new_customer_list['state'].value_counts()

NSW    506
VIC    266
QLD    228
Name: state, dtype: int64

In [43]:
new_customer_list['country'].unique()

array(['Australia'], dtype=object)

- All the values are valid, accurate and consistent, except for some missing values in last_name, DOB, job_title, job_industry_category. The number of missing values in DOB and last_name are in small amount, so we might drop them. However, the further step with missing values in other two columns will depend on the final goal of analysis;   
- Lack the explanation of collection of several columns, the meaning for each values. They are deceased_indicator, tenure, property_valuation, Rank and Value. Especially, for the U in gender column, we need to confirm its meaning before futher step;  
- All the values in country and deceased_indicator columns are same, seperately, the further step of these column will depend on the finl goal of analysis.

# Explore the CustomerDemographic

In [3]:
# import the NewCustomerList and skip the first row which is note
customer_demographic = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx',sheet_name='CustomerDemographic', skiprows=1)
customer_demographic.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0

In [4]:
# Check the info of the table
customer_demographic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
customer_id                            4000 non-null int64
first_name                             4000 non-null object
last_name                              3875 non-null object
gender                                 4000 non-null object
past_3_years_bike_related_purchases    4000 non-null int64
DOB                                    3913 non-null datetime64[ns]
job_title                              3494 non-null object
job_industry_category                  3344 non-null object
wealth_segment                         4000 non-null object
deceased_indicator                     4000 non-null object
default                                3698 non-null object
owns_car                               4000 non-null object
tenure                                 3913 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 406.3+ KB

For this stage:

- columns with missing values: last_name, DOB, job_title, job_industry_category, default, tenure;   

- columns that lack data explanation: deceased_indicator, default and tenure;   
- values in default and gender columns look tanglesome.

In [5]:
# check the values in default column
customer_demographic['default'].unique()

array(['"\'', "<script>alert('hi')</script>",
       datetime.datetime(2018, 2, 1, 0, 0),
       '() { _; } >_[$($())] { touch /tmp/blns.shellshock2.fail; }',
       'NIL', 'ðµ ð ð ð', 'â°â´âµâââ', '(â¯Â°â¡Â°ï¼â¯ï¸µ â»ââ»)', '0/0',
       'ð©ð½', 'ÅâÂ´Â®â\xa0Â¥Â¨ËÃ¸Ïââ', 'nil', -100, 'â°â´âµ', 'ð',
       1000000000000000049861653971908893017010268485438462151574892930611988399099305815384459015356416,
       'ï¾ï½¥â¿ã¾â²(ï½¡ââ¿âï½¡)â±â¿ï½¥ï¾', 'Î©âÃ§ââ«ËÂµâ¤â¥Ã·',
       'ÅâÂ´â°ËÃÂ¨ËÃâââ', 'ï¼ï¼ï¼',
       '../../../../../../../../../../../etc/hosts',
       '×Ö¸×Ö°×ªÖ¸×testØ§ÙØµÙØ\xadØ§Øª Ø§ÙØªÙØ\xadÙÙ', '<>?:"{}|_+',
       '\'\'\'\'"', ",./;'[]\\-=",
       '() { 0; }; touch /tmp/blns.shellshock1.fail;',
       'ì¬íê³¼íì ì´íì°êµ¬ì', 'testâ\xa0testâ«',
       '0ï¸â£ 1ï¸â£ 2ï¸â£ 3ï¸â£ 4ï¸â£ 5ï¸â£ 6ï¸â£ 7ï¸â£ 8ï¸â£ 9ï¸â£ ð',
       nan, '!@#$%^&*()', "'",
       'Ì¦HÍÌ¬Ì¤ÌÌ¤eÍ ÍÌÌ¥ÌÌ»ÍÌwÌhÌÌ¯ÍoÌÍÌÍÌ±Ì® ÒÌºÌÌÌÍWÌ·Ì¼Ì\xadaÌºÌªÍiÌ¨ÍÍÌ\xadÍÌ¯ÌtÌ¶Ì¼Ì®sÌÌÍÍ Ì\xa0Ì«Ì\xa0BÌ»ÍÍÍÍÌ³eÌµhÌµÌ¬ÍÌ«ÍiÌÌ¹ÍÌ³Ì³Ì®ÍÌ«nÍdÌ´ÌªÌÌ ÍÌ°ÍÌ©ÍÍÍÌ²TÍ¢ÍÌ¼ÍÌªhÍÍÌ®Ì»eÌ¬ÌÍÌ Ì¤Ì¹ÌWÍÍÍÌÌÍÍaÍÍÍÌ¹Ì¼',
       '../../../../../../../../../../../etc/passwd%00', 'åè£½æ¼¢èª',
       '`ââ¬â¹âºï¬ï¬â¡Â°Â·ââÂ±', 'ãã¼ãã£ã¼ã¸è¡ããªãã', 1, -0.5,
       'ZÌ®ÌÍÌ\xa0ÍÍAÌ¥ÌÌÍÌ»ÌLÌ£ÍÍÌ¯Ì¹ÌÍGÌ»OÌ\xadÌÌ®', 'ã', 100,
       '1;DROP TABLE users', -1, 'á', '(ï¾à²¥çà²¥ï¼ï¾ï»¿ â»ââ»', '00ËÆ$-',
       '1/0', 'ï½ï½¨(Â´âï½â©', "<svg><script>0<1>alert('XSS')</script>",
       'âââ', 'ã»(ï¿£âï¿£)ã»:*:', ',ãã»:*:ã»ãâ( â» Ï â» )ãã»:*:ã»ãâ',
       'â¢', 'ç°ä¸\xadããã«ããã¦ä¸ãã', '__ï¾(,_,*)', 'Ù¡Ù¢Ù£',
       'Ø«Ù ÙÙØ³ Ø³ÙØ·Øª ÙØ¨Ø§ÙØªØ\xadØ¯ÙØ¯Ø, Ø¬Ø²ÙØ±ØªÙ Ø¨Ø§Ø³ØªØ®Ø¯Ø§Ù Ø£Ù Ø¯ÙÙ. Ø¥Ø° ÙÙØ§Ø Ø§ÙØ³ØªØ§Ø± ÙØªÙØµÙØ¨ ÙØ§Ù. Ø£ÙÙÙ Ø§ÙØ·Ø§ÙÙØ§Ø Ø¨Ø±ÙØ·Ø§ÙÙØ§-ÙØ±ÙØ³Ø§ ÙØ¯ Ø£Ø®Ø°. Ø³ÙÙÙØ§ÙØ Ø¥ØªÙØ§ÙÙØ© Ø¨ÙÙ ÙØ§, ÙØ°ÙØ± Ø',
       'ð¾ ð ð ð ð ð ð ð§', "<img src=x onerror=alert('hi') />",
       'ã½à¼¼àºÙÍàºà¼½ï¾ ã½à¼¼àºÙÍàºà¼½ï¾', 'âð¿ ðªð¿ ðð¿ ðð¿ ðð¿ ðð¿',
       'TÌÌ\xadÌºÌºoÍ Ì·iÌ²Ì¬ÍÌªÍnÌÌÍvÍÌÌÌÌ¦oÌ¶ÌÌ°Ì\xa0keÍÍÌ®ÌºÌªÌ¹Ì±Ì¤ ÌtÍÌÍÌ³Ì£Ì»ÌªhÌ¼ÍÌ²Ì¦Ì³ÌÌ²eÍÌ£Ì°Ì¦Ì¬Í Ì¢Ì¼Ì»Ì±ÌhÍÍÍÍÌÌ£Ì²iÌ¦Ì²Ì£Ì°Ì¤vÌ»ÍeÌºÌ\xadÌ³ÌªÌ°-mÌ¢iÍnÌÌºÌÌ²Ì¯Ì°dÌµÌ¼ÌÍÌ©Ì¼ÌÌ³ ÌÌ¥Ì±Ì³Ì\xadrÌÌÌeÍpÍ\xa0rÌ¼ÌÌ»Ì\xadÌeÍÌºÌ\xa0Ì£sÌ',
       'ÃÃÃÃËÃÃï£¿ÃÃÃâ', '(ï½¡â â âï½¡)', 'é¨è½æ\xa0¼',
       "ËÉnbá´lÉ ÉuÆÉÉ¯ ÇÉ¹olop ÊÇ ÇÉ¹oqÉl Ên Êunpá´pá´Éuá´ É¹odÉ¯ÇÊ poÉ¯sná´Ç op pÇs 'Êá´lÇ Æuá´Ésá´dá´pÉ É¹nÊÇÊÉÇsuoÉ 'ÊÇÉ¯É Êá´s É¹olop É¯nsdá´ É¯ÇÉ¹oË¥",
       'á\xa0',
       '×Ö¼Ö°×¨Öµ××©×Ö´××ª, ×Ö¼Ö¸×¨Ö¸× ×Ö±×Ö¹×Ö´××, ×Öµ×ª ×Ö·×©Ö¼×Ö¸×Ö·×Ö´×, ×Ö°×Öµ×ª ×Ö¸×Ö¸×¨Ö¶×¥',
       'Â¡â¢Â£Â¢âÂ§Â¶â¢ÂªÂºââ\xa0',
       '/dev/null; touch /tmp/blns.fail ; echo', "1'; DROP TABLE users--",
       'ð¾ ð ð ð ð ð ð ð',
       'Ì¡ÍÍÌIÍÌÌÌ¦nÍÍÍvÌ®Ì«okÌ²Ì«ÌÍiÌÍÌ\xadÌ¹Ì\xa0ÌnÌ¡Ì»Ì®Ì£ÌºgÌ²ÍÍÌ\xadÍÌ¬Í Ì°tÍÌ¦hÌÌ²eÌ¢Ì¤ ÍÌ¬Ì²ÍfÌ´ÌÍÌ£eÍÍeÌ£Ì¥Ì©lÍÍÍiÍ\xa0ÍÍÌ¦nÍÍÌÍÌ³Ì®gÍ Ì¨oÍ¡ÍÌªfÌÌ£Ì¬ ÌÌÍÌÍÌ®cÒÍÌ«ÍÍÍÍÍhÌµÌ¤Ì£ÍÍaÍÌÌ¼ÍÍoÌ¼Ì£Ì¥sÍ¢Ì±ÍÌºÌÌ¦Ì».ÌÌ',
       'â', 'Â¸ËÃâÄ±ËÃÂ¯ËÂ¿', 'ì¸ëë°í\xa0ë¥´',
       'ÌÌºÍÌ¹Ì¯ÍTÌ±Ì¤ÍÌ¥ÍÍhÍÌ²eÍÍÌ¼ÌÌÌ¼Ì£Í ÍÌÌ±Ì\xa0ÍÍÍNÍ\xa0ÍeÌÌ±zÌÌÌÌºÍpÌ¤ÌºÌ¹ÍÌ¯ÍeÍÌ\xa0Ì»Ì\xa0rÌ¨Ì¤ÍÌºÌÍÌÌdÍÌ\xa0ÌÌ\xadÌ¬ÌiÌ¦ÍÌ©ÍÍÌ¤aÌ\xa0ÌÌ¬ÍÌnÍÍ Ì»ÌÌ°ÍÍhÌµÍiÌ³ÌvÌ¢ÍeÍÌ\xadÍ-ÒÌ\xadÌ©Ì¼ÍmÌ¤Ì\xadÌ«iÍÍÌÌ¦nÌÍdÌ£Ì ÍÌ¯Ì²ÍoÌ¨ÌÌ¯Ì°Ì²',
       0, 'â©testâ©', 'â£', 'Ã¥ÃâÆÂ©ËâËÂ¬â¦Ã¦',
       'ç¤¾æç§å\xad¸é¢èªå\xad¸ç\xa0ç©¶æ', 'âªâªtestâª', 'ï»¿',
       'â¤ï¸ ð ð ð ð ð ð ð ð ð ð ð ð ð ð', 'â«testâ«', 'â¦testâ§',
       '\'"\'\'\'\'"', 'â¡', 'ð\xa0ð\xa0±ð\xa0¹ð\xa0±ð\xa0±¸ð\xa0²ð\xa0³'],
      dtype=object)

We have to later discuss with the auther of the customer_demographic table about the default column. Then we will take further step depends on the goal of our analysis.

In [6]:
# Check for null values
customer_demographic.isnull().sum()

customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
default                                302
owns_car                                 0
tenure                                  87
dtype: int64

We will take the further step with the missing values based on the goal of final analysis.

In [7]:
# Check the duplicates in the table
customer_demographic[customer_demographic.duplicated()].sum()

customer_id                            0.0
first_name                             0.0
last_name                              0.0
gender                                 0.0
past_3_years_bike_related_purchases    0.0
DOB                                    0.0
job_title                              0.0
job_industry_category                  0.0
wealth_segment                         0.0
deceased_indicator                     0.0
default                                0.0
owns_car                               0.0
tenure                                 0.0
dtype: float64

There is no duplicates in the customer_demographic.

In [8]:
# check the descriptive statistics of customer_demographic
customer_demographic.describe()

       customer_id  past_3_years_bike_related_purchases       tenure
count  4000.000000                          4000.000000  3913.000000
mean   2000.500000                            48.890000    10.657041
std    1154.844867                            28.715005     5.660146
min       1.000000                             0.000000     1.000000
25%    1000.750000                            24.000000     6.000000
50%    2000.500000                            48.000000    11.000000
75%    3000.250000                            73.000000    15.000000
max    4000.000000                            99.000000    22.000000

In [9]:
# check the validity and consistence of values in each columns
customer_demographic['DOB'].describe()

count                    3913
unique                   3448
top       1978-01-30 00:00:00
freq                        7
first     1843-12-21 00:00:00
last      2002-03-11 00:00:00
Name: DOB, dtype: object

In [10]:
# check the distribution of the DOB
customer_demographic['DOB'].groupby([customer_demographic['DOB'].dt.year]).agg('count')

DOB
1843.0      1
1931.0      1
1935.0      1
1940.0      1
1943.0      1
1944.0      1
1953.0     19
1954.0     61
1955.0     58
1956.0     63
1957.0     71
1958.0     55
1959.0     94
1960.0     58
1961.0     60
1962.0     76
1963.0     59
1964.0     85
1965.0     69
1966.0     65
1967.0     73
1968.0     69
1969.0     78
1970.0     57
1971.0     88
1972.0     54
1973.0    122
1974.0    152
1975.0    114
1976.0    152
1977.0    204
1978.0    217
1979.0    118
1980.0    123
1981.0     79
1982.0     41
1983.0     40
1984.0     43
1985.0     91
1986.0    114
1987.0     72
1988.0     72
1989.0     74
1990.0     53
1991.0     48
1992.0     74
1993.0     60
1994.0     79
1995.0     90
1996.0     67
1997.0     74
1998.0     80
1999.0     60
2000.0     42
2001.0     34
2002.0      6
Name: DOB, dtype: int64

In [11]:
customer_demographic['gender'].value_counts()

Female    2037
Male      1872
U           88
Femal        1
M            1
F            1
Name: gender, dtype: int64

In [12]:
# replace the other values in gender into appropriate values
#https://www.kite.com/python/answers/how-to-replace-column-values-in-a-pandas-dataframe-in-python
customer_demographic['gender'].replace({'M':'Male', 'F': 'Female', 'Femal': 'Female'}, inplace=True)
customer_demographic['gender'].value_counts()

Female    2039
Male      1873
U           88
Name: gender, dtype: int64

In [13]:
customer_demographic['job_title'].unique()

array(['Executive Secretary', 'Administrative Officer',
       'Recruiting Manager', nan, 'Senior Editor', 'Media Manager I',
       'Business Systems Development Analyst', 'Senior Quality Engineer',
       'Nuclear Power Engineer', 'Developer I', 'Account Executive',
       'Junior Executive', 'Media Manager IV', 'Sales Associate',
       'Professor', 'Geological Engineer', 'Project Manager',
       'Safety Technician I', 'Research Assistant I',
       'Accounting Assistant III', 'Editor', 'Research Nurse',
       'Safety Technician III', 'Staff Accountant III', 'Legal Assistant',
       'Product Engineer', 'Information Systems Manager',
       'VP Quality Control', 'Social Worker', 'Senior Cost Accountant',
       'Assistant Media Planner', 'Payment Adjustment Coordinator',
       'Food Chemist', 'Accountant III', 'Director of Sales',
       'Senior Financial Analyst', 'Registered Nurse',
       'Biostatistician II', 'Computer Systems Analyst II',
       'Software Test Engineer II', 'Paralegal', 'VP Sales',
       'Chief Design Engineer', 'Office Assistant III',
       'Physical Therapy Assistant', 'Help Desk Operator',
       'Web Developer II', 'Research Associate', 'Teacher',
       'VP Product Management', 'Statistician II',
       'Automation Specialist IV', 'Data Coordiator',
       'Software Test Engineer III', 'Internal Auditor',
       'Analyst Programmer', 'Occupational Therapist',
       'Speech Pathologist', 'Quality Control Specialist',
       'Civil Engineer', 'Software Engineer III',
       'Community Outreach Specialist', 'Safety Technician IV',
       'VP Accounting', 'General Manager', 'Nurse Practicioner',
       'Automation Specialist II', 'Marketing Assistant',
       'Marketing Manager', 'Staff Scientist', 'Assistant Professor',
       'Budget/Accounting Analyst IV', 'Associate Professor',
       'Graphic Designer', 'Administrative Assistant II',
       'Compensation Analyst', 'Systems Administrator III',
       'Financial Advisor', 'Chemical Engineer', 'Web Designer I',
       'Senior Developer', 'Office Assistant II', 'Recruiter', 'Operator',
       'Programmer Analyst III', 'Quality Engineer', 'Environmental Tech',
       'Analog Circuit Design manager', 'Cost Accountant', 'Librarian',
       'Structural Analysis Engineer', 'Pharmacist', 'Assistant Manager',
       'Accountant I', 'Web Designer III', 'Geologist III',
       'Software Test Engineer I', 'Structural Engineer',
       'Safety Technician II', 'Web Developer III',
       'Programmer Analyst II', 'Design Engineer', 'Statistician I',
       'VP Marketing', 'Desktop Support Technician', 'Actuary',
       'Database Administrator III', 'Electrical Engineer',
       'Tax Accountant', 'Clinical Specialist',
       'Database Administrator IV', 'Systems Administrator II',
       'Account Coordinator', 'Programmer III',
       'Administrative Assistant III', 'Nurse', 'Technical Writer',
       'Staff Accountant II', 'Dental Hygienist', 'Sales Representative',
       'Budget/Accounting Analyst III', 'Computer Systems Analyst IV',
       'Geologist I', 'Financial Analyst', 'Accounting Assistant II',
       'Senior Sales Associate', 'Database Administrator II',
       'Engineer I', 'Budget/Accounting Analyst I', 'Developer IV',
       'Database Administrator I', 'Environmental Specialist',
       'Computer Systems Analyst I', 'Account Representative IV',
       'Statistician IV', 'Human Resources Manager',
       'GIS Technical Architect', 'Programmer IV',
       'Accounting Assistant IV', 'Software Engineer IV', 'Programmer II',
       'Engineer III', 'Software Consultant', 'Biostatistician IV',
       'Help Desk Technician', 'Automation Specialist I', 'Developer III',
       'Human Resources Assistant I', 'Geologist IV', 'Media Manager II',
       'Statistician III', 'Engineer II', 'Health Coach II',
       'Developer II', 'Systems Administrator I', 'Web Developer I',
       'Software Engineer II', 'Accounting Assistant I',
       'Research Assistant II', 'Programmer Analyst IV', 'Health Coach I',
       'Accountant II', 'Automation Specialist III',
       'Administrative Assistant I', 'Health Coach IV',
       'Media Manager III', 'Account Representative III',
       'Web Designer IV', 'Budget/Accounting Analyst II',
       'Web Developer IV', 'Programmer I', 'Biostatistician III',
       'Software Test Engineer IV', 'Research Assistant IV',
       'Account Representative I', 'Accountant IV', 'Biostatistician I',
       'Human Resources Assistant IV', 'Administrative Assistant IV',
       'Office Assistant I', 'Human Resources Assistant II',
       'Mechanical Systems Engineer', 'Engineer IV', 'Health Coach III',
       'Office Assistant IV', 'Software Engineer I',
       'Human Resources Assistant III', 'Staff Accountant I',
       'Computer Systems Analyst III', 'Geologist II', 'Web Designer II',
       'Staff Accountant IV', 'Account Representative II',
       'Programmer Analyst I', 'Systems Administrator IV',
       'Research Assistant III'], dtype=object)

In [14]:
customer_demographic['job_industry_category'].value_counts()

Manufacturing         799
Financial Services    774
Health                602
Retail                358
Property              267
IT                    223
Entertainment         136
Argiculture           113
Telecommunications     72
Name: job_industry_category, dtype: int64

In [15]:
customer_demographic['wealth_segment'].value_counts()

Mass Customer        2000
High Net Worth       1021
Affluent Customer     979
Name: wealth_segment, dtype: int64

In [16]:
customer_demographic['deceased_indicator'].unique()

array(['N', 'Y'], dtype=object)

In [17]:
customer_demographic['owns_car'].unique()

array(['Yes', 'No'], dtype=object)

- All the values are valid, accurate and consistent, except for some missing values in last_name, DOB, job_title, job_industry_category, default and tenure, as well as the DOB in 1843. Especially, all the values in default column are unreadable. The further step with missing values in these columns will depend on the final goal of analysis;
- Lack the explanation of collection of several columns, the meaning for each values. They are deceased_indicator, tenure, and default. Especially, for the U in gender column, we need to confirm its meaning before futher step.

# Explore the CustomerAddress

In [18]:
# import the CustomerAddress and skip the first row which is note
customer_address = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx',sheet_name='CustomerAddress', skiprows=1)
customer_address.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [19]:
# Check the info of the table
customer_address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
customer_id           3999 non-null int64
address               3999 non-null object
postcode              3999 non-null int64
state                 3999 non-null object
country               3999 non-null object
property_valuation    3999 non-null int64
dtypes: int64(3), object(3)
memory usage: 187.5+ KB

For this stage:

- No missing values;

- postcode date type should be string, not the integer.

In [20]:
# convert the date type of postcode to string 
customer_address['postcode'] = customer_address['postcode'].astype(str)
print(customer_address['postcode'].dtypes)

object

In [21]:
# Check the duplicates in the table
customer_address[customer_address.duplicated()].sum()

customer_id           0.0
address               0.0
postcode              0.0
state                 0.0
country               0.0
property_valuation    0.0
dtype: float64

In [22]:
# check the descriptive statistics of CustomerAddress
customer_address.describe()

       customer_id  property_valuation
count  3999.000000         3999.000000
mean   2003.987997            7.514379
std    1154.576912            2.824663
min       1.000000            1.000000
25%    1004.500000            6.000000
50%    2004.000000            8.000000
75%    3003.500000           10.000000
max    4003.000000           12.000000

In [23]:
# check the validity and consistence of values in each columns
customer_address['address'].unique()

array(['060 Morning Avenue', '6 Meadow Vale Court', '0 Holy Cross Court',
       ..., '87 Crescent Oaks Alley', '8194 Lien Street',
       '320 Acker Drive'], dtype=object)

In [24]:
customer_address['state'].unique()

array(['New South Wales', 'QLD', 'VIC', 'NSW', 'Victoria'], dtype=object)

In [25]:
# replace the other values in state into appropriate values
customer_address['state'].replace({'New South Wales':'NSW', 'Victoria': 'VIC'}, inplace=True)
customer_address['state'].value_counts()

NSW    2140
VIC    1021
QLD     838
Name: state, dtype: int64

In [26]:
customer_address['country'].unique()

array(['Australia'], dtype=object)

In [40]:
len(customer_address['postcode'].unique())

873

- All the values are valid, accurate and consistent. No missing values and duplicates;
- All values in country column are same, the further step of it depends on the goal of our analysis;   
- customer_address could merge with customer_demographic since they share the same customer_id.

# Merge the CustomerAddress and CustomerDemographic

In [27]:
# merge two dataframes as one on the same customer_id
customer_df = pd.merge(customer_demographic, customer_address, how='inner', on='customer_id')
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3996 entries, 0 to 3995
Data columns (total 18 columns):
customer_id                            3996 non-null int64
first_name                             3996 non-null object
last_name                              3871 non-null object
gender                                 3996 non-null object
past_3_years_bike_related_purchases    3996 non-null int64
DOB                                    3909 non-null datetime64[ns]
job_title                              3492 non-null object
job_industry_category                  3341 non-null object
wealth_segment                         3996 non-null object
deceased_indicator                     3996 non-null object
default                                3694 non-null object
owns_car                               3996 non-null object
tenure                                 3909 non-null float64
address                                3996 non-null object
postcode                               3996 non-null object
state                                  3996 non-null object
country                                3996 non-null object
property_valuation                     3996 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(13)
memory usage: 593.2+ KB

There are in total 3996 rows after mergeing in the new customer dataframe.

In [28]:
# Check for null values
customer_df.isnull().sum()

customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              504
job_industry_category                  655
wealth_segment                           0
deceased_indicator                       0
default                                302
owns_car                                 0
tenure                                  87
address                                  0
postcode                                 0
state                                    0
country                                  0
property_valuation                       0
dtype: int64

In [29]:
# Check the duplicates in the table
customer_df[customer_df.duplicated()].sum()

customer_id                            0.0
first_name                             0.0
last_name                              0.0
gender                                 0.0
past_3_years_bike_related_purchases    0.0
DOB                                    0.0
job_title                              0.0
job_industry_category                  0.0
wealth_segment                         0.0
deceased_indicator                     0.0
default                                0.0
owns_car                               0.0
tenure                                 0.0
address                                0.0
postcode                               0.0
state                                  0.0
country                                0.0
property_valuation                     0.0
dtype: float64

In [30]:
customer_df[customer_df['DOB'].dt.year == 1843]

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure,address,postcode,state,country,property_valuation
29,34,Jephthah,Bachmann,U,59,1843-12-21,Legal Assistant,IT,Affluent Customer,N,NaN,No,20.0,833 Luster Way,4005,QLD,Australia,8

In [31]:
# drop the row which DOB is in 1843
customer_df = customer_df.drop(29)
customer_df['DOB'].describe()

count                    3908
unique                   3443
top       1978-01-30 00:00:00
freq                        7
first     1931-10-23 00:00:00
last      2002-03-11 00:00:00
Name: DOB, dtype: object

In [32]:
customer_df['owns_car'].value_counts()

Yes    2021
No     1974
Name: owns_car, dtype: int64

In [37]:
# convert postcode to location information 
def get_geocoder(postal_code_from_df):
    g = geocoder.osm('{}, Australia'.format(postal_code_from_df))
    return g.json["lat"],g.json["lng"]

In [42]:
code_map = {}
for postcode in customer_address['postcode'].unique():
    lat, lng = get_geocoder(postcode)
    code_map[postcode] = (lat, lng)

In [48]:
len(code_map)
def helper(x):
    return code_map[x][0], code_map[x][1]

In [50]:
customer_df['latitude'], customer_df['longitude'] = zip(*customer_df['postcode'].apply(helper))
customer_df

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,...,tenure,address,postcode,state,country,property_valuation,Latitude,Longitude,latitude,longitude
0,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,...,11.0,060 Morning Avenue,2016,NSW,Australia,10,-33.893169,151.203612,-33.893169,151.203612
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,...,16.0,6 Meadow Vale Court,2153,NSW,Australia,10,-33.753486,150.998426,-33.753486,150.998426
2,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,...,7.0,0 Holy Cross Court,4211,QLD,Australia,9,-27.995496,153.325939,-27.995496,153.325939
3,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,...,8.0,17979 Del Mar Point,2448,NSW,Australia,4,-30.605714,153.001570,-30.605714,153.001570
4,6,Curr,Duckhouse,Male,35,1966-09-16,NaN,Retail,High Net Worth,N,...,13.0,9 Oakridge Court,3216,VIC,Australia,9,-38.185064,144.343247,-38.185064,144.343247
5,7,Fina,Merali,Female,6,1976-02-23,NaN,Financial Services,Affluent Customer,N,...,11.0,4 Delaware Trail,2210,NSW,Australia,9,-33.950310,151.057598,-33.950310,151.057598
6,8,Rod,Inder,Male,31,1962-03-30,Media Manager I,NaN,Mass Customer,N,...,7.0,49 Londonderry Lane,2650,NSW,Australia,4,-35.120263,147.381280,-35.120263,147.381280
7,9,Mala,Lind,Female,97,1973-03-10,Business Systems Development Analyst,Argiculture,Affluent Customer,N,...,8.0,97736 7th Trail,2023,NSW,Australia,12,-33.884284,151.261032,-33.884284,151.261032
8,11,Uriah,Bisatt,Male,99,1954-04-30,NaN,Property,Mass Customer,N,...,9.0,93405 Ludington Park,3044,VIC,Australia,8,-37.745018,144.942783,-37.745018,144.942783
9,12,Sawyere,Flattman,Male,58,1994-07-21,Nuclear Power Engineer,Manufacturing,Mass Customer,N,...,8.0,44339 Golden Leaf Alley,4557,QLD,Australia,4,-26.689711,153.106635,-26.689711,153.106635
10,13,Gabriele,Norcross,Male,38,1955-02-15,Developer I,Financial Services,High Net Worth,N,...,8.0,2 Sutherland Street,3799,VIC,Australia,6,-37.745716,145.697015,-37.745716,145.697015
11,14,Rayshell,Kitteman,Female,85,1983-03-25,Account Executive,Financial Services,Affluent Customer,N,...,6.0,9 Mcbride Trail,2760,NSW,Australia,8,-33.760257,150.788845,-33.760257,150.788845
12,15,Erroll,Radage,Male,91,2000-07-13,Junior Executive,Manufacturing,Mass Customer,N,...,1.0,9861 New Castle Avenue,2428,NSW,Australia,9,-32.154684,152.479874,-32.154684,152.479874
13,16,Harlin,Parr,Male,38,1977-02-27,Media Manager IV,NaN,Mass Customer,N,...,18.0,52 Moland Street,3331,VIC,Australia,4,-38.037743,144.176667,-38.037743,144.176667
14,17,Heath,Faraday,Male,57,1962-03-19,Sales Associate,NaN,Affluent Customer,N,...,15.0,82391 Kensington Lane,3058,VIC,Australia,9,-37.737847,144.958428,-37.737847,144.958428
15,18,Marjie,Neasham,Female,79,1967-07-06,Professor,NaN,Affluent Customer,N,...,11.0,092 2nd Alley,2135,NSW,Australia,12,-33.877044,151.088579,-33.877044,151.088579
16,19,Sorcha,Keyson,Female,76,2001-04-15,Geological Engineer,Manufacturing,High Net Worth,N,...,1.0,59 Spaight Circle,2233,NSW,Australia,9,-34.088414,151.009094,-34.088414,151.009094
17,20,Basile,Firth,Male,72,1980-08-13,Project Manager,Manufacturing,Mass Customer,N,...,11.0,032 Bartelt Crossing,2444,NSW,Australia,8,-31.452769,152.884516,-31.452769,152.884516
18,21,Mile,Cammocke,Male,74,1980-09-20,Safety Technician I,Manufacturing,Affluent Customer,N,...,16.0,18 Jenna Center,2650,NSW,Australia,7,-35.120263,147.381280,-35.120263,147.381280
19,24,Kim,Skpsey,Female,55,1977-12-03,Research Assistant I,Argiculture,Mass Customer,N,...,15.0,3 Cordelia Plaza,2153,NSW,Australia,10,-33.753486,150.998426,-33.753486,150.998426
20,25,Geoff,Assaf,Male,72,1976-12-02,Accounting Assistant III,Financial Services,Mass Customer,N,...,21.0,28 5th Center,4413,QLD,Australia,3,-26.740512,150.625649,-26.740512,150.625649
21,26,Trixi,Ginnelly,Female,12,1978-06-10,Editor,Financial Services,Mass Customer,N,...,16.0,52 Carey Alley,4740,QLD,Australia,5,-21.162949,149.189335,-21.162949,149.189335
22,27,Garvin,Klees,Male,37,1978-09-25,Research Nurse,Health,Mass Customer,N,...,12.0,96 Texas Plaza,3218,VIC,Australia,7,-38.139540,144.350844,-38.139540,144.350844
23,28,Fee,Zellmer,Male,5,1973-09-30,Senior Quality Engineer,Health,Affluent Customer,N,...,21.0,48 Eagan Avenue,4868,QLD,Australia,4,-16.986375,145.737687,-16.986375,145.737687
24,29,Mona,Sancraft,Female,62,1968-06-22,Safety Technician III,Manufacturing,Mass Customer,N,...,19.0,9 Buell Park,4116,QLD,Australia,7,-27.626762,153.051829,-27.626762,153.051829
25,30,Darrick,Helleckas,Male,18,1961-10-18,NaN,IT,Affluent Customer,N,...,6.0,02663 Buell Parkway,2519,NSW,Australia,11,-34.382274,150.876387,-34.382274,150.876387
26,31,Star,Praton,Female,3,1962-11-24,Staff Accountant III,Telecommunications,High Net Worth,N,...,14.0,2294 Pleasure Place,2135,NSW,Australia,12,-33.877044,151.088579,-33.877044,151.088579
27,32,Marion,Vanichkin,Female,17,1995-04-20,Legal Assistant,Manufacturing,Affluent Customer,N,...,4.0,2951 Petterle Place,2756,NSW,Australia,9,-33.564140,150.796452,-33.564140,150.796452
28,33,Ernst,Hacon,Male,44,1957-06-25,Product Engineer,NaN,Affluent Customer,N,...,11.0,63 Lukken Drive,2170,NSW,Australia,9,-33.920005,150.924079,-33.920005,150.924079
30,35,Margaretha,Strettle,Female,40,1963-09-28,Information Systems Manager,Health,High Net Worth,N,...,16.0,34 Russell Plaza,4127,QLD,Australia,6,-27.622561,153.132949,-27.622561,153.132949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3966,3971,Analise,Asbrey,Female,2,1979-01-14,Desktop Support Technician,Financial Services,High Net Worth,N,...,16.0,910 Becker Pass,2526,NSW,Australia,8,-34.442999,150.839152,-34.442999,150.839152
3967,3972,Maribelle,Schaffel,Female,6,1979-03-28,NaN,Retail,Mass Customer,N,...,8.0,08 Dennis Crossing,3184,VIC,Australia,11,-37.886371,144.987355,-37.886371,144.987355
3968,3973,Carolan,Jorez,Female,24,1963-07-13,Editor,Manufacturing,High Net Worth,N,...,17.0,4 Express Plaza,2191,NSW,Australia,10,-33.903514,151.084763,-33.903514,151.084763
3969,3974,Misha,Ranklin,Female,82,1961-02-11,Technical Writer,NaN,Affluent Customer,N,...,9.0,81609 Vernon Terrace,3934,VIC,Australia,8,-38.259887,145.040295,-38.259887,145.040295
3970,3975,Dianemarie,Kidgell,Female,2,1971-08-11,Administrative Assistant I,Entertainment,Affluent Customer,N,...,18.0,37 Hintze Court,2168,NSW,Australia,9,-33.913072,150.879311,-33.913072,150.879311
3971,3976,Gretel,Chrystal,Female,0,1957-11-20,Internal Auditor,NaN,Affluent Customer,N,...,13.0,07 Morning Court,3805,VIC,Australia,7,-38.008560,145.305622,-38.008560,145.305622
3972,3977,Katrinka,Van der Beken,Female,31,1965-08-21,Biostatistician II,Manufacturing,Mass Customer,N,...,16.0,327 Loeprich Street,3187,VIC,Australia,11,-37.918921,145.016738,-37.918921,145.016738
3973,3978,Kathlin,Robker,Female,4,1972-03-02,Developer II,Financial Services,Mass Customer,N,...,5.0,5106 Northridge Drive,2560,NSW,Australia,7,-34.049091,150.806726,-34.049091,150.806726
3974,3979,Kleon,Adam,Male,67,1974-07-13,NaN,Financial Services,Mass Customer,N,...,18.0,9754 High Crossing Terrace,2148,NSW,Australia,8,-33.777514,150.894162,-33.777514,150.894162
3975,3980,Nils,McGebenay,Male,41,1964-01-16,Web Designer I,Manufacturing,Mass Customer,N,...,12.0,7 Meadow Vale Court,2114,NSW,Australia,10,-33.814750,151.088866,-33.814750,151.088866
3976,3981,Konstance,Draye,Female,34,1994-09-10,Quality Control Specialist,Health,Mass Customer,N,...,1.0,80260 Morning Road,3178,VIC,Australia,9,-37.926582,145.234641,-37.926582,145.234641
3977,3982,Maurita,O'Kinedy,Female,89,1962-06-02,General Manager,Manufacturing,Mass Customer,N,...,12.0,38017 Briar Crest Drive,2165,NSW,Australia,9,-33.867820,150.946258,-33.867820,150.946258
3978,3983,Jarred,Lyste,Male,19,1965-04-21,Graphic Designer,NaN,Mass Customer,N,...,9.0,60 Morningstar Center,2126,NSW,Australia,10,-33.726078,151.040281,-33.726078,151.040281
3979,3984,Thadeus,Buxsey,Male,74,1960-02-16,Librarian,Entertainment,Affluent Customer,N,...,10.0,218 Stuart Junction,2223,NSW,Australia,10,-33.974833,151.074361,-33.974833,151.074361
3980,3985,Caryn,Padbury,Female,44,1998-06-21,Web Developer IV,Property,Mass Customer,N,...,4.0,9 Butterfield Lane,4077,QLD,Australia,5,-27.596854,152.973264,-27.596854,152.973264
3981,3986,Oralle,Petrello,Female,1,1976-12-01,Social Worker,Health,Mass Customer,N,...,21.0,614 Burning Wood Way,2148,NSW,Australia,9,-33.777514,150.894162,-33.777514,150.894162
3982,3987,Beckie,Wakeham,Female,18,1964-05-29,NaN,Argiculture,Mass Customer,N,...,7.0,9 Grover Point,4218,QLD,Australia,10,-28.068229,153.363934,-28.068229,153.363934
3983,3988,Ammamaria,Ashburne,Female,97,1994-07-14,Automation Specialist IV,Health,Mass Customer,N,...,1.0,565 Bunting Park,2076,NSW,Australia,11,-33.699971,151.125248,-33.699971,151.125248
3984,3989,Nicolas,Burdass,Male,75,1999-06-23,Environmental Specialist,Argiculture,Affluent Customer,N,...,1.0,9461 Saint Paul Trail,2428,NSW,Australia,2,-32.154684,152.479874,-32.154684,152.479874
3985,3990,Reynard,Hagger,Male,99,1998-03-05,Desktop Support Technician,Health,High Net Worth,N,...,1.0,5204 Delaware Pass,2560,NSW,Australia,8,-34.049091,150.806726,-34.049091,150.806726
3986,3991,Rolph,Sweetnam,Male,61,1985-08-06,Chief Design Engineer,Manufacturing,Mass Customer,N,...,13.0,24 Scott Pass,4300,QLD,Australia,5,-27.673761,152.915453,-27.673761,152.915453
3987,3992,Germain,Tireman,Male,99,1980-04-02,Database Administrator IV,Manufacturing,Affluent Customer,N,...,18.0,8 Randy Parkway,2209,NSW,Australia,11,-33.947479,151.066737,-33.947479,151.066737
3988,3993,Andi,Dumelow,Female,6,1974-12-05,Librarian,Entertainment,Mass Customer,N,...,10.0,681 Elmside Place,3750,VIC,Australia,6,-37.612437,145.016828,-37.612437,145.016828
3989,3994,Stephie,Byars,Female,5,1989-04-07,Structural Analysis Engineer,Manufacturing,Affluent Customer,N,...,12.0,2918 Summer Ridge Hill,3030,VIC,Australia,2,-37.893353,144.703659,-37.893353,144.703659
3990,3995,Rusty,Iapico,Male,93,1975-12-12,Staff Scientist,Manufacturing,Mass Customer,N,...,14.0,613 Erie Lane,2088,NSW,Australia,12,-33.826098,151.241649,-33.826098,151.241649
3991,3996,Rosalia,Halgarth,Female,8,1975-08-09,VP Product Management,Health,Mass Customer,N,...,19.0,0 Transport Center,3977,VIC,Australia,6,-38.086180,145.288624,-38.086180,145.288624
3992,3997,Blanch,Nisuis,Female,87,2001-07-13,Statistician II,Manufacturing,High Net Worth,N,...,1.0,4 Dovetail Crossing,2350,NSW,Australia,2,-30.495313,151.680315,-30.495313,151.680315
3993,3998,Sarene,Woolley,U,60,NaT,Assistant Manager,IT,High Net Worth,N,...,NaN,736 Roxbury Junction,2540,NSW,Australia,6,-34.989807,150.609161,-34.989807,150.609161
3994,3999,Patrizius,NaN,Male,11,1973-10-24,NaN,Manufacturing,Affluent Customer,N,...,10.0,1482 Hauk Trail,3064,VIC,Australia,3,-37.602511,144.899403,-37.602511,144.899403
3995,4000,Kippy,Oldland,Male,76,1991-11-05,Software Engineer IV,NaN,Affluent Customer,N,...,11.0,57042 Village Green Point,4511,QLD,Australia,6,-26.976553,153.079538,-26.976553,153.079538

In [51]:
location_map = customer_df[['customer_id','postcode','state','latitude','longitude']]
location_map.head()

   customer_id postcode state   latitude   longitude
0            1     2016   NSW -33.893169  151.203612
1            2     2153   NSW -33.753486  150.998426
2            4     4211   QLD -27.995496  153.325939
3            5     2448   NSW -30.605714  153.001570
4            6     3216   VIC -38.185064  144.343247

In [52]:
location_map.to_csv('location.csv', index=False)

In [25]:
# save the dataframe as csv file without index
customer_df.to_csv('customer.csv', index=False)